@model SoftGym.Web.ViewModels.Administration.Facilities.AllFacilitiesViewModel

@using SoftGym.Data.Models.Enums
@{
    ViewData["Title"] = "Our Facilities";
}

<h1 class="text-center">Our Facilities</h1>
<hr />
<h2 class="text-center">
    
    @if (this.Context.Request.QueryString.ToString().Contains("Equipment"))
    {
        @:All Equipments
    }
    else if (this.Context.Request.QueryString.ToString().Contains("Room"))
    {
        @:All Rooms
    }
    else if (this.Context.Request.QueryString.ToString().Contains("Spa"))
    {
        @:Spa Facilities
    }
    else
    {
        @:All Facilities
    }
</h2>

<ul class="nav justify-content-center nav-tabs ">
    <li class="nav-item">
        @if (this.Context.Request.Path.Value.Contains("All") && !this.Context.Request.QueryString.ToString().Contains("type"))
        {
            <a class="nav-link active" href="/Facilities/All">All</a>
        }
        else
        {
            <a class="nav-link" href="/Facilities/All">All</a>
        }
    </li>
    <li class="nav-item">
        @if (this.Context.Request.QueryString.ToString().Contains("Equipment"))
        {
            <a class="nav-link active" asp-controller="Facilities" asp-action="All"
               asp-route-type="@FacilityType.Equipment">Equipments</a>
        }
        else
        {
            <a class="nav-link" asp-controller="Facilities" asp-action="All"
               asp-route-type="@FacilityType.Equipment">Equipments</a>
        }
    </li>
    <li class="nav-item">
        @if (this.Context.Request.QueryString.ToString().Contains("Room"))
        {
            <a class="nav-link active" asp-controller="Facilities" asp-action="All"
               asp-route-type="@FacilityType.Room">Rooms</a>
        }
        else
        {
            <a class="nav-link" asp-controller="Facilities" asp-action="All"
               asp-route-type="@FacilityType.Room">Rooms</a>
        }
    </li>
    <li class="nav-item">
        @if (this.Context.Request.QueryString.ToString().Contains("Spa"))
        {
            <a class="nav-link active" asp-controller="Facilities" asp-action="All"
               asp-route-type="@FacilityType.Spa">Spa</a>
        }
        else
        {
            <a class="nav-link" asp-controller="Facilities" asp-action="All"
               asp-route-type="@FacilityType.Spa">Spa</a>
        }
    </li>
</ul>

<div class="row px-5">
    @foreach (var facility in Model.Facilities)
    {
        <div class="card col-md-4 col-lg-4 col-xs-4" id="@facility.Id">
            <div class="card-body h-100">
                <div class="card-img-top height-20rem">
                    <img class="img-fluid mx-auto d-block" src="@facility.PictureUrl" alt="@facility.Name">
                </div>
                <h4 class="card-title"><a>@facility.Name</a></h4>
                <h6>Type: @facility.Type</h6>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a@(facility.Id)a">
                    Details
                </button>
                <partial name="../../Areas/Administration/Views/Facilities/_DetailsPartial.cshtml" model="@facility" />
            </div>
        </div>
    }
</div>

<nav class="mt-2">
    <ul class="pagination justify-content-center">
        @{FacilityType? currentType = this.Context.Request.Query.ContainsKey("type") == true
                    ? (FacilityType?)Enum.Parse(typeof(FacilityType), this.Context.Request.Query["type"].ToString())
                    : null;}
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link dark-link" asp-controller="Facilities" asp-action="All"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-type="@currentType">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.Pages; i++)
        {
            var active = Model.CurrentPage == i ? "custom-active" : string.Empty;
            <li class="page-item">
                <a class="page-link dark-link @active" asp-controller="Facilities" asp-action="All"
                   asp-route-page="@i"
                   asp-route-type="@currentType">@i</a>
            </li>
        }

        @if (Model.CurrentPage == Model.Pages)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link dark-link" asp-controller="Facilities" asp-action="All"
                   asp-route-page="@(Model.CurrentPage + 1)"
                   asp-route-type="@currentType">Next</a>
            </li>
        }
    </ul>
</nav>