@model SoftGym.Web.ViewModels.Trainers.TrainerViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}
    <div class="modal fade" id="a@(Model.Id)a" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About @Model.FirstName</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="@Model.ProfilePictureUrl" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading">@Model.FirstName @Model.LastName</h3>
                        <span><strong>Contacts: </strong></span>
                        <p class="label label-info">Email: @Model.Email</p>
                        <p class="label label-info">Phone Number: @Model.PhoneNumber</p>
                    </center>
                    <hr>
                    <center>
                        <p class="text-left">
                            <strong>Bio: </strong><br>
                        <p>@Model.Description</p>
                        <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
