@model SoftGym.Web.ViewModels.Trainers.AllTrainersViewModel

@{
    ViewData["Title"] = "Trainers";
}

@using SoftGym.Data.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager

<div class="site-section bg-light">

    <div class="container">

        <div class="heading-with-border text-center mb-5">
            <h2 class="heading text-uppercase">Our Trainers</h2>
        </div>

        <div class="row">
            @foreach (var trainer in Model.Trainers)
            {
                <div class="col-lg-4 mb-4">
                    <div class="block-trainer h-100 w-100">
                        <img src="@trainer.ProfilePictureUrl" alt="@trainer.FirstName @trainer.LastName" class="img-fluid h-100 w-100">
                        <div class="block-trainer-overlay">
                            <h2>@trainer.FirstName @trainer.LastName</h2>
                            <p class="text-white">@trainer.Description</p>
                            <p>
                                <a data-toggle="modal" data-target="#a@(trainer.Id)a" class="p-2" style="cursor: pointer"><i class="fas fa-phone"></i></a>
                                <a data-toggle="modal" data-target="#a@(trainer.Id)a" class="p-2" style="cursor: pointer"><i class="fas fa-envelope-square"></i></a>
                                @{string userId = this.userManager.GetUserId(this.User); }
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    @if (trainer.ClientIds.Contains(userId))
                                    {
                                        <form asp-action="RemoveTrainer" asp-controller="Trainers" method="post">
                                            <input type="text" name="Id" value="@trainer.Id" hidden />
                                            <button type="submit" class="p-2 btn" style="cursor: pointer" title="Remove From My Trainers"><i class="fas fa-user-times"></i></button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-action="AddTrainer" asp-controller="Trainers" method="post">
                                            <input type="text" name="Id" value="@trainer.Id" hidden />
                                            <button type="submit" class="p-2 btn" style="cursor: pointer" title="Add To My Trainers"><i class="fas fa-user-plus"></i></button>
                                        </form>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>

@foreach (var trainer in Model.Trainers)
{
    <partial name="_DetailsPartial" , model="@trainer" />
}