@model SoftGym.Web.ViewModels.WorkoutPlans.MyWorkoutPlansViewModel

@{
    ViewData["Title"] = "My Workout Plans";
}

<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<hr />

<div class="site-section block-14">

    <div class="container">

        <div class="heading-with-border text-center">
            <h2 class="heading text-uppercase">Active Plans</h2>
        </div>
        @if (Model.ActivePlan.Any())
        {
            <ul class="list-unstyled list-group">
                @foreach (var plan in Model.ActivePlan)
                {
                    <li class="list-group-item text-center">
                        <a href="/WorkoutPlans/Details/@plan.Id" class="text-black">
                            Workout Plan from @plan.CreatedOn.ToString("dd/MM/yyyy") to @plan.ExpireDate.ToString("dd/MM/yyyy")
                        </a>
                        <a href="/WorkoutPlans/Delete/@plan.Id" class="ml-5 btn btn-danger" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="/Exports/ExportToWord/@plan.Id" class="ml-5 btn btn-primary custom-blue" title="Export to Word">
                            <i class="fas fa-file-word"></i>
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="text-center">
                <div class="alert alert-primary" role="alert">
                    You Have no Active Workout Plan
                </div>
                <a href="/WorkoutPlans/GenerateWorkoutPlan" class="btn btn-primary pill">Generate Eating Plan</a>
            </div>
        }
    </div>
</div>


<div class="site-section block-14">
    <div class="container">
        <div class="heading-with-border text-center">
            <h2 class="heading text-uppercase">Inactive Plans</h2>
        </div>
        @if (Model.ActivePlan.Any())
        {
            <ul class="list-unstyled list-group">
                @foreach (var plan in Model.InactivePlans)
                {
                    <li class="list-group-item text-center">
                        <a href="/WorkoutPlans/Details/@plan.Id" class="text-black">
                            Workout Plan from @plan.CreatedOn.ToString("dd/MM/yyyy") to @plan.ExpireDate.ToString("dd/MM/yyyy")
                        </a>
                        <a href="/WorkoutPlans/Delete/@plan.Id" class="ml-5 btn btn-danger" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="/Exports/ExportToWord/@plan.Id" class="ml-5 btn btn-primary custom-blue" title="Export to Word">
                            <i class="fas fa-file-word"></i>
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="text-center">
                <div class="alert alert-primary" role="alert">
                    No Inactive Eating Plans
                </div>
                <a href="/WorkoutPlans/GenerateWorkoutPlan" class="btn btn-primary pill">Generate Eating Plan</a>
            </div>
        }
    </div>
</div>

