@model SoftGym.Web.ViewModels.EatingPlans.AllPlansViewModel

@{
    ViewData["Title"] = "My Eating Plans";
}

<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<hr />

<div class="site-section block-14">

    <div class="container">

        <div class="heading-with-border text-center">
            <h2 class="heading text-uppercase">Active Plans</h2>
        </div>
        @if (Model.ActivePlans.Any())
        {
            <ul class="list-unstyled list-group">
                @foreach (var plan in Model.ActivePlans)
                {
                    <li class="list-group-item text-center">
                        <a href="/EatingPlans/Details/@plan.Id" class="text-black">
                            Eating Plan from @plan.CreatedOn.ToString("dd/MM/yyyy") to @plan.ExpireDate.ToString("dd/MM/yyyy")
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#b@(plan.Id)b">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </li>
                }
            </ul>

        }
        else
        {
            <div class="text-center">
                <div class="alert alert-primary" role="alert">
                    You Have no Active Eating Plan
                </div>
                <a href="/EatingPlans/GeneratePlan" class="btn btn-primary pill">Generate Eating Plan</a>
            </div>
        }
    </div>
</div>


<div class="site-section block-14">
    <div class="container">
        <div class="heading-with-border text-center">
            <h2 class="heading text-uppercase">Inactive Plans</h2>
        </div>
        @if (Model.InactivePlans.Any())
        {
            <ul class="list-unstyled list-group">
                @foreach (var plan in Model.InactivePlans)
                {
                    <li class="list-group-item text-center">
                        <a href="/EatingPlans/Details/@plan.Id" class="text-black">
                            Eating Plan from @plan.CreatedOn.ToString("dd/MM/yyyy") to @plan.ExpireDate.ToString("dd/MM/yyyy")
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#b@(plan.Id)b">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="text-center">
                <div class="alert alert-primary" role="alert">
                    No Inactive Eating Plans
                </div>
            </div>
        }
    </div>
</div>


@foreach (var plan in Model.InactivePlans)
{
    <partial name="_WarningDeletePartial" model="@plan" />
}


@foreach (var plan in Model.ActivePlans)
{
    <partial name="_WarningDeletePartial" model="@plan" />
}